<%  include include/main-header %>
	</head>
	<body>

		<div id="app" class="page-home">
			<% include include/header %>

			<!-- Site Content -->

			<section id="banner" class="py-100 bg-light">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="wrapper">
								<h1 class="title mb-4">Lorem ipsum dolor sit amet, consectetuer</h1>
								<a href="#" class="btn btn-blue rounded-0 mb-4">
									LEARN MORE
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="products" class="">
				<div class="container">
					<div class="row">
						<div class="image col-12 col-md-6">
							<img class="img-fluid" src="img/products-overview.jpg" alt="products-overview">
						</div>
						<div class="content col-12 col-md-6">
							<div class="wrapper py-5">
								<h3 class="text-blue">Products and Services</h3>
								<h2 class="title text-blue mb-4">Cloud Database Deployments</h2>
							</div>
							<div class="row pt-3">
								<div class="col-6 mb-4">
									<img src="img/placeholder-icon.jpg" alt="">
									<p class="pt-1">Web Design</p>
								</div>
								<div class="col-6 mb-4">
									<img src="img/placeholder-icon.jpg" alt="">
									<p class="pt-1">Custom Apps</p>
								</div>
								<div class="col-6 mb-4">
									<img src="img/placeholder-icon.jpg" alt="">
									<p class="pt-1">Products</p>
								</div>
								<div class="col-6 mb-4">
									<img src="img/placeholder-icon.jpg" alt="">
									<p class="pt-1">Cloud Business App</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="works" class="">
				<div class="container-fluid">
					<div class="row">
						<div class="content col-12 col-md-6 py-5 bg-royal-blue flex-vh-center">
							<div class="content-wrapper">
								<h2 class="text-white">Our Works</h2>
								<hr class="separator white mr-auto">
								<p class="text-white">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.
								</p>
								<a href="#" class="btn btn-light-blue rounded-0">
									VIEW ALL
								</a>
							</div>
						</div>
						<div class="col-12 col-md-6 py-5">
							<div class="works-slider slick-wrapper">
								<div class="work-content">
									<img class="img-fluid" src="img/works.jpg" alt="">
								</div>
								<div class="work-content">
									<img class="img-fluid" src="img/works.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="about" class="py-100 bg-image" style="background-image: url('img/bg-about.jpg');">
				<div class="container">
					<div class="row">
						<div class="col-12 text-center">
							<div class="wrapper">
								<h2 class="text-white">About Tenth Matrix</h2>
								<hr class="separator blue mx-auto">
								<p class="text-white">
									Tenthmatrix is a full service new media agency, incorporating web design, SEO (Search Engine Optimisation), development including databases and Content Management Systems. We are expert in deploying large scale web database applications using Openresty.org, NGINX, Lua, Redis, Memcached, Node.JS, MySQL, MSSQL Server, Oracle, 4D, PostgreSQL, Sybase & NoSQL such as MongoDB. Tenthmatrix is a 4D Silver Partner in London (UK)
								</p>
							</div>
							<div class="row partners">
								<div class="col-12 col-sm-6 col-md-4 col-lg-2 my-3 my-md-5">
									<img class="img-fluid" src="img/partners.jpg" alt="">
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-2 my-3 my-md-5">
									<img class="img-fluid" src="img/partners.jpg" alt="">
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-2 my-3 my-md-5">
									<img class="img-fluid" src="img/partners.jpg" alt="">
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-2 my-3 my-md-5">
									<img class="img-fluid" src="img/partners.jpg" alt="">
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-2 my-3 my-md-5">
									<img class="img-fluid" src="img/partners.jpg" alt="">
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-2 my-3 my-md-5">
									<img class="img-fluid" src="img/partners.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="quick-links" class="py-100 bg-dark-blue">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="wrapper">
								<h2 class="text-white">Quick Links</h2>
								<hr class="separator blue">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-sm-6 col-md">
							<h3 class="text-light-blue">About</h3>
							<div class="wrapper d-grid">
								<a href="#">Company</a>
								<a href="#">Our Client</a>
								<a href="#">Key People</a>
								<a href="#">Our Partners</a>
								<a href="#">Careers</a>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md">
							<h3 class="text-light-blue">Products</h3>
							<div class="wrapper d-grid">
								<a href="#">Company</a>
								<a href="#">Our Client</a>
								<a href="#">Key People</a>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md">
							<h3 class="text-light-blue">Services</h3>
							<div class="wrapper d-grid">
								<a href="#">Company</a>
								<a href="#">Our Client</a>
								<a href="#">Key People</a>
								<a href="#">Our Partners</a>
								<a href="#">Careers</a>
								<a href="#">Careers</a>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md">
							<h3 class="text-light-blue">Community</h3>
							<div class="wrapper d-grid">
								<a href="#">Company</a>
								<a href="#">Our Client</a>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md">
							<h3 class="text-light-blue">Our Network Sites</h3>
							<div class="wrapper d-grid">
								<a href="#">Company</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- End Content -->

			<% include include/footer %>
		</div>

		<% include include/main_footer %>
	</body>
</html>
